

body {
    width: 100%;
    height: 100%;
    font-family: helvetica, sans-serif;
    font-size:14px;
    ;
} 
h1 {
    font-family: impact, helvetica, sans-serif;
    font-size: 32px;

}
h2 {
    font-family: "times new romance", serif;
    font-size: ;
}
h3 {
    font-family: "andale mono", helvetica, sans-serif;
    font-size: ;
}
em{
    color: rebeccapurple;
    font-family: impact, helvetica, sans-serif;
    font-size: 18px;
}
.dashed {
        border-style: dashed;
}
.solid {
        border-style: solid;
        border-width: 2px;
        border-color: orange;
}
.double {
        border-style: double;
}

.border1 {
        border-color: lightgray;
        border-left-width: 5px;
        border-left-style: solid;
        padding: 5px;
        background-color: darkgrey;
        width: 50%;
}
.dotted{
        border-style: dotted;
        padding: 1em;
        width: 40%;
        margin-left: 150px;
        float: left;
        font-family: times, serif;

}
.grey {
        border-color: lightgray;
        border-left-width: 5px;
        border-left-style: solid;
        padding: 5px;
        background-color: whitesmoke;
        width: 25%;
        margin-right: 150px;
        float: right;
        color: black;
}


.input_box{
        background-color: dimgray;
        color: white ;


}
.button{
        text-align: center;
        background-color: darkcyan;
        font-size: 16px;
        font-family: impact, sans-serif;
        padding: 6px 36px;
        border-radius: 12px;
        border-style: none;
}
.bgstyle{
        width: 30%;
        text-align: center;
        float: left;
        position: absolute;
        left:35%;
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);        

}
.result_form{

}

a:hover{
        color: white;
}


